--- # Dummy config file for testing


  Files: # The files which are plottet together
    - filepath

  Filetype: ASCII # Other options are json

  Output: Stripscan #Output basename of the plots

  Save_as: # Possible options: html, png, svg, pdf -> Only works if wkhtmltopdf is installed and html plot is generated, (svg)
    - html
    #- png
    #- svg # huge files will not be rendered correctly
    #- pdf # does not work correctly

  Analysis:
    - Stripscan # The type of analysis, which will be performed

  Poolsize: 4 # Maximum pool size of simultaneous analysis scripts

# Optional Parameters
  ASCII_file_specs: # The specifications for the ascii file type measurements files
    header_lines: 18
    measurement_description: 20
    units_line: 21
    data_start: 22


  # Options for the different Analyses scripts
  # These options are entirely up to you and what you need in your analysis
  Stripscan:
      General: # Options common to all plots
          fontsize: {'title': 28, 'labels': 24, 'xticks': 24, 'yticks': 24, 'legend': 11}
          responsive: False
          shared_axes: False
          width: 1200
          height: 700
          padding: !!python/tuple [0, 0.1]
          #legend_position: "bottom_left"
      Layout:
          cols: 2 # How many columns there are, these must the the names of the methods!!! and a valid parameter

      DoSpecialPlots: # Whether or not to do the SpecialPlot, it may not succeed if not at least one measuremnt has this special plot stated
          - concatHistogram
          - Violin
          - BoxWhisker

      HistogramOptions:
          shared_axes: False
          alpha: 0.6

      BoxWhiskerOptions:
          shared_axes: False
          box_alpha: 0.3
          width: 1200
          height: 1200

      ViolinOptions:
          shared_axes: False
          box_alpha: 0.3
          width: 1200
          height: 1200

      Temperature:
          PlotLabel: Temperature
          AdditionalPlots:
              - BoxWhisker
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              show_grid: False
              xlabel: Pad [#]
              ylabel: Temperature [deg]

      Humidity:
          PlotLabel: Humidity
          AdditionalPlots:
              - BoxWhisker
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              show_grid: False
              xlabel: Pad [#]
              ylabel: Humidity [rel%]

      Istrip:
          PlotLabel: Strip Currents
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          AdditionalPlots: # If a special plot is stated here it will be plotted. If the plot is specified in the DoSpecialPlots variable!!!
            - Violin
            - concatHistogram
          UnitConversion: pico
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              show_grid: True
              padding: !!python/tuple [0.1, 0.1]
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: current [A]
              ylim: !!python/tuple [0, -800]

      Idiel:
          PlotLabel: Current through dielectric
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          AdditionalPlots:
              - Violin
              - concatHistogram
          UnitConversion: pico
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              #logy: True
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: current [A]

      Idark:
          PlotLabel: Total Sensor Current
          UnitConversion: nano
          AdditionalPlots:
              - Violin
              - concatHistogram
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              legend_position: bottom_left
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: current [A]

      Rpoly:
          PlotLabel: Poly-Silicon Resistor Resitance
          UnitConversion: mega
          AdditionalPlots:
              - Violin
              - concatHistogram
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              legend_position: bottom_left
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: resistance [Ohm]
              ylim: !!python/tuple [0, 2.5]
      Rint:
          PlotLabel: Interstrip Resistance
          UnitConversion: giga
          AdditionalPlots:
              - Violin
              - concatHistogram
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              legend_position: bottom_right
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: resistance [Ohm]
      Cac:
          PlotLabel: Coupling Capacitance
          UnitConversion: pico
          AdditionalPlots:
              - Violin
              - concatHistogram
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              legend_position: bottom_left
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: capacitance [F]
              ylim: !!python/tuple [120, 160]

      Cint:
          PlotLabel: Interstrip Capacitance
          UnitConversion: pico
          AdditionalPlots:
              - Violin
              - concatHistogram
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              ylim: !!python/tuple [0, 5]
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: capacitance [F]




